{{ form_start(form, {attr: {class: 'filter'}}) }}

<h4>Model</h4>
 {{ form_row(form.q) }}

<h4>Brands</h4>
{{ form_row(form.brands) }}

<h4>Prix</h4>
<div class = "row">
    <div class ="col-md-10">
        {{ form_row(form.min) }}

    <div class="cold-md-10">
        {{ form_row(form.max) }}
        </div>
    </div>
</div>
<div id="slider" class="col-md-2" data-min="{{ min }}" data-max="{{ max }}" style="margin-top: 1rem "></div>
{#  dump(min, max) }} #}

<h4>Km</h4>
<div class = "row ms-10">
    <div class ="col-md-10">
        {{ form_row(form.minKm) }}

        <div class="cold-md-4">
            {{ form_row(form.maxKm) }}
        </div>
    </div>
</div>
<div id="kmSlider" class="col-md-2" data-min="{{ min }}" data-max="{{ max }}"></div>

<h4>Année</h4>
<div class = "row">
    <div class ="col-md-10">
        {{ form_row(form.minYear) }}

        <div class="cold-md-10">
            {{ form_row(form.maxYear) }}
        </div>
        <div id="yearSlider" class="col-md-2" data-min="{{ min }}" data-max="{{ max }}"></div>
    </div>
   </div>

<button type="submit" class="btn btn-primary">Filtrer</button>
{{ form_end(form) }}