{% extends 'base.html.twig' %}

{% block title %}Hello SecondHandCarController!{% endblock %}

{% block body %}
<div class="px-4 py-1 my-3 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Voitures d'occasion ✅</h1>
</div>
    <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

{% for SecondHandCar in SecondHandCars %}
     <div class = "col pb-2 pb-sm-3 text-center">
    <div class = " card-hover position-relative bg-light rounded-1 p-3 mb-4">

        <img src="{{ vich_uploader_asset(SecondHandCar, 'imageFile') }}" width ="300" height = "300"  alt="{{ SecondHandCar.image }}">

        <h2>{{ SecondHandCar.name }}</h2>
        <!--/div-->
        <h3>{{ SecondHandCar.brand }}</h3>
        <h4>{{ SecondHandCar.km }}</h4>
        <h5>{{ SecondHandCar.price }}</h5>
        <h6>{{SecondHandCar.year()|date('d-m-Y')}} </h6>
        <!--button type="button" class="btn btn-danger" data-toggle="modal" >Plus de détails</button-->
        <!--div {# {{ stimulus_controller('hello') }}#} ></div-->
        <!--button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button-->
        <!--div data-controller ="modal" >
            <button class= "btn btn-danger btn-sm"
                    data-action="modal-form#openModal"
                    >Plus de détails</button-->

        <div {{ stimulus_controller('hello') }}>
            <button class= "btn btn-danger btn-sm"
                    data-toggle="modal"
                    data-action="modal#openModal">Plus de détails</button>
                     </div>

        <!-- would render -->


        <div data-controller="hello">




        </div>



        </div>

    </div>



{% endfor %}

    </div>


{% endblock %}